#titulo-importante{
  background-color: blue;
  color: white;
}

.sub-titulo{
  background-color: yellow;
}

section{
  background-color: green;
}

.titulo-secao{
  color: white;
}

.texto-generico{
  background-color: aquamarine;
  color: palevioletred;
}

.titulo-pouco-importante{
  background-color: black;
  color: white;
}